{% extends 'base.html.twig' %}

{% block title %}compositions musicales{% endblock %}

{% block body %}

<header class="page-header">
    <h1 class="page-title">
        compositions musicales
    </h1>
</header>

<div class="row">
    {% for compo in compos %}
        {% if not loop.first and loop.index0 % 2 == 0 %}
            <div class="row">
        {% endif %}
        <a href="{{path('compos_show', {'slug' : compo.slug})}}" class="col-sm-6 card">
            <div class="cardMaison">
                <div class="card-header text-center nomCompo">
                    {{ compo.name }}
                    <audio controls src="{{compo.url}}" style="width:100%" class="mt-3 mb-2">
                    </audio>
                </div>
                <div class="card-body">
                    <p>
                        <img src="{{ compo.image }}" alt="image" style="width:50%; margin:auto; display:block">
                    </p>
                </div>
                <table class="table-white">
                    <tr>
                        <td>Créée le</td>
                        <td>{{ compo.stringDateCreation() }}</td>
                    </tr>
                    <tr>
                        <td>Publiée le</td>
                        <td>{{ compo.stringDatePublication() }}</td>
                    </tr>
                    <tr>
                        <td>introduction</td>
                        <td>{{ compo.introduction() }}</td>
                    </tr>
                </table>
            </div>
        </a>
        {% if loop.last or loop.index0 % 2 == 1 %}
            </div>
        {% endif %}
    {% endfor %}
</div>

{#<p class="text-center mt-4">
    <a href="{{path("compos_create")}}" class="btn btn-primary">Ajouter une compo</a>
</p>#}

<hr class="my-4">

{% endblock %}
