{% extends 'base.html.twig' %}

{% block title %}{{ texte.slug }}{% endblock %}

{% block body %}

<div class="texte">

    <header class="page-header">
        <h1 class="page-title">
            {{ texte.name }}
        </h1>
    </header>

    <p class="text-center">
        <img src="{{ texte.image }}" alt="image">
    </p>
    <p class="text-muted text-right">
        date de première écriture : {{ texte.stringDateCreation() }} <br>
        date de première publication de la présente version : {{ texte.stringDatePublication() }}
    </p>
    <hr class="my-4">
        {{ texte.contenu | raw }}

    {% if texte.commentsTexte | length > 0 %}
        <h3>
            Commentaires
        </h3>
        {% for comment in texte.commentsTexte %}
            <p class="text-muted">
                {{ comment.author.login }} - {{ comment.stringCreatedAt() }}
            </p>
            <p class="" style="background : #fff8cc; padding : 1em; border-radius : 1em;">
                {{ comment.content }}
            </p>
        {% endfor %}
    {% endif %}

    {% if form is not null %}
    
        <h3>
            Commenter
        </h3>

        {{ form_start(form) }}
        {{ form_widget(form.comment.content) }}
        {{ form_end(form) }}

    {% endif %}

    <h2 class="text-center">
        <a href="{{ path('textes') }}" class="btn btn-primary">
            retour
        </a>
    </h2>

</div>

{% endblock %}
