{% extends 'base.html.twig' %}

{% block title %}Dessins{% endblock %}

{% block body %}

<header class="page-header">
    <h1 class="page-title">
        {{drawing.nom}}
    </h1>
</header>

<p>
    <a href="{{drawing.url}}">
        <img src="{{drawing.url}}" alt="dessin" style="width : 100%">
    </a>
</p>

<table class="table">
    <tr>
        <td>catégorie(s)</td>
        <td>
            {% for category in drawing.categorie %}
                <a href="{{ path('drawings_categories_show', {'slug' : category.slug}) }}">
                    {{category.name}}
                </a>
                {% if not loop.last %}
                    ,
                {% endif %}
            {% endfor %}
        </td>
    </tr>
    <tr>
        <td>dessiné le</td>
        <td>{{drawing.stringDateCreation}}</td>
    </tr>
    <tr>
        <td>publié le</td>
        <td>{{drawing.stringDatePublication}}</td>
    </tr>
    <tr>
        <td>légende</td>
        <td>{{drawing.caption}}</td>
    </tr>
</table>
<p class="alert-info">
    cliquez pour voir en pleine résolution (souvent très grande image)
</p>

{#<p>
    <a href="{{path('drawing_edit', {'slug' : drawing.slug})}}" class="btn btn-primary">Modifier l'annonce</a>
</p>#}

{% if drawing.commentsDrawing | length > 0 %}
    <h3>
        Commentaires
    </h3>
    {% for comment in drawing.commentsDrawing %}
        <p>
            {{ comment.author.login }}
            <span class="text-muted">
                - {{ comment.stringCreatedAt() }}
            </span>

        </p>
        <p class="" style="background : #fff8cc; padding : 1em; border-radius : 1em;">
            {{ comment.content }}
        </p>
    {% endfor %}
{% endif %}

<h2 class="text-center">
    <a href="{{path('drawings_index', {'slug' : drawing.slug})}}" class="btn btn-primary ml-2">
        Retour
    </a>
</h2>

<hr class="my-4">

{% endblock %}
